<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>To-Do Log-in</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500&family=PT+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body class="container">
    <header class="logo">
        <a href="{{url_for('auth.logout')}}">
            <img class="logo" src="static/images/logo.png"S alt="To-Do Logo">
        </a>
    </header>
<div id="id01" class="modal" style="z-index: 2; align-self: center;">
          <form class="modal-content" action="/signup">
            <div class="container">
              <h2>Sign Up</h2>
              <p>Please fill in this form to create an account.</p>
              <hr>

              <label for="name" class="input-label" id="ulabel">Name:</label>
              <input type="text" placeholder="Enter Name" name="name" required>

              <label for="username" class="input-label">Username:</label>
              <input type="text" placeholder="Enter Username" name="username" required>

              <label for="email" class="input-label">Email:</label>
              <input type="text" placeholder="Enter Email" name="email" required>

              <label for="password" class="input-label">Password:</label>
              <input type="password" placeholder="Enter Password" name="password" required>

              <label for="repeat_password" class="input-label">Repeat Password:</label>
              <input type="repeat_password" placeholder="Repeat Password" name="repeat_password" required>

              <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
              </label>

              <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

              <div class="clearfix">
                <button type="submit">Sign Up</button>

                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              </div>
            </div>
          </form>
        </div>
    <form action="/login" class="LoginForm">
       
          
        <div class="container" style="z-index: 1;">
          <label for="username" class="input-label">Username:</label>
          <input type="text" placeholder="Enter Username" name="username" required>
      
          <label for="password" class="input-label">Password:</label>
          <input type="password" placeholder="Enter Password" name="password" required>
          <span class="password">Forgot <a href="#">password?</a></span>
          <button type="submit" >Login</button>
          <button onclick="document.getElementById('id01').style.display='block'">Sign Up</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
     </form>
    
    <script type="text/python" src="app.py"></script>
</body>
</html>

